#arena {
    &.arena {
        background-image: url('/static/imgs/bg_family.jpg');
    }

    .md-table {
        background-color: rgba(15, 15, 15, 0.5);
    }
    .md-table-head {
        background-color: rgba(250, 20, 20, 0.4);
        color: #a99528;
        text-align: center;
    }
    .md-table-content {
        color: #805b00;
        background-color: rgba(15, 15, 15, 0.5);
        border-top: 2px solid #a99528;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .arena-house-img {
        max-width: 80px;
        max-height: 60px;
        padding-right: 10px;
    }
}
