#arena {
    &.arena {
        background-image: url('/static/imgs/bg_family.jpg');
    }

    .md-content {
        background-color: transparent;
    }
    .md-tab {
        min-height: 520px;
    }
    
    .md-table {
        background-color: rgba(15, 15, 15, 0.5);
        .md-table-row:nth-child(2),
        .md-table-row:nth-child(4),
        .md-table-row:nth-child(7) {
            background-color: rgba(55, 50, 10, 0.5);
        }
    }
    .md-table-head {
        background-color: rgba(250, 20, 20, 0.4);
        color: #a99528;
        text-align: center;
    }
    .md-table-content {
        color: #805b00;
        background-color: rgba(15, 15, 15, 0.5);
        border-top: 2px solid #a99528;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .md-table-cell-container {
        padding: 2px;

        .prediction-results {
            position: absolute;
            top: 0px;
            width: 100%;
            &.lannister .md-progress-bar .md-progress-bar-fill { background-color: #e80000; }
            &.targaryen .md-progress-bar .md-progress-bar-fill { background-color: #000000; }
            &.tully .md-progress-bar .md-progress-bar-fill { background-color: #ff36af; }
            &.eyrie .md-progress-bar .md-progress-bar-fill { background-color: #0024bd; }
            &.stark .md-progress-bar .md-progress-bar-fill { background-color: #9e9e9d; }
            &.baratheon .md-progress-bar .md-progress-bar-fill { background-color: #bdbc07; }
            &.tyrell .md-progress-bar .md-progress-bar-fill { background-color: #1ebd07; }
            &.martell .md-progress-bar .md-progress-bar-fill { background-color: #e0851e; }
            .suport-rate {
                position: absolute;
                display: block;
                width: 100%;
                text-align: left;
                white-space: nowrap;
                color: #d4b929;
                top: 50%;
            }
        }

        .md-progress-bar {
            // background-color: #964342;
            height: 15px;
            margin-top: 20px;
            

            .md-progress-bar-fill {
                position: relative;
                z-index: 2;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                // width: 70% !important;
                
                &:after {
                    display: block;
                    width: 100%;
                    height: 100%;
                    animation: animate-stripes 3s linear infinite;
                    background-repeat: repeat-x;
                    background-size: 50px;
                    background-image: linear-gradient(
                        135deg,
                        transparent 20px,
                        rgba(255, 255, 255, .15) 20px,
                        rgba(255, 255, 255, .15) 30px,
                        transparent 30px,
                    );
                }
            }
            .md-progress-bar-buffer {
                border-color: rgba(120, 100, 25, 0.2);
            }
        }
    }

    .arena-house-img {
        max-width: 80px;
        max-height: 48px;
        padding-right: 10px;
    }
    .arena-trophy-img {
        max-height: 48px;
    }

    .md-tabs-navigation {
        background-color: rgba(0,0,0,0.5);
        .md-button {
            color: #c7c7c7;
        }
        .md-active {
            color: #eaae19;
        }
        .md-tabs-indicator {
            color: #eaae19;
            background-color: #eaae19;
        }
    }

    .welfare-controller {
        max-width: 180px;
        input {
            display: block;
            margin: 5px auto;
        }
    }
    .prediction-btn {
        // display: block;
        // float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border-color: #fbff48;
        background-color: #841b1b;
        color: #fff700;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
        &:hover {
            background-color: #611414;
        }
    }
}

#tab-live {
    position: relative;
    height: 520px;
    .chat-box {
        float: right;
        width: 32%;
        height: 100%;
        position: relative;
        .chat-history {
            height: calc(100% - 40px);
            background-color: rgba(22, 13, 8, 0.5);
            >ul {
                padding-left: 12px;
            }
        }
        .chat-tools {
            border: none;
            height: 40px;
        }
    }
    .live-battle {
        width: 68%;
        float: left;
        
        #live-iframe {
            width: 100%;
            height: 480px;
            
        }
    }
}


@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 300px 0;
    }
}