#rv-bar {
    position: relative;
    padding-left: 280px;
    background-image: url('/static/imgs/bg_bar.jpg');
    .bar-card { min-width: 860px; overflow-y: auto; overflow-x: hidden; }
    .md-card-content {
        position: relative;
        padding: 10px 10px 0px;
        min-height: 600px;
    }
    .md-tabs {
        height: 100%;
        .md-tab {
            height: 520px;
            position: relative;
        }
        .md-icon, .md-tab-label {
            color: #805b00 !important;
        }
        .md-tabs-navigation {
            background-color: rgba(31, 17, 6, 0.7) !important;
            border-bottom: 1px solid #805b00;
        }
        .md-tabs-indicator {
            background-color: #805b00  !important;
        }
        .md-content {
            background-color: transparent;
            box-sizing: border-box;
            height: 100%;
        }
        .md-list {
            background-color: transparent;
            
        }
        .md-tab-nav-button {
            width: 33.2%;
            max-width: none;
            &.md-active {
                background-color: #171311;
            }
        }
        .md-list-item-content {
            color: #9e8e78;
        }
    }

    .bar-content {
        position: relative;
        overflow: hidden;
        height: calc(100% - 160px);

        .bar-content-background {
            position: relative;
            height: 100%;
            z-index: 1;
            background-color: rgba(5,5,5,0.4);
        }

        .bar-content-table {
            display: inline-block;
            position: absolute;
            z-index: 6;
            top: 0px;
            left: 0px;
            height: 0%;
            width: 100%;
            overflow: hidden;
            transition: 0.5s height ease-in;

            &.active {
                height: 100%;
            }
            .md-table-fixed-header-container table {
                width: 100% !important;
            }
        }
        .bar-content-open {
            position: absolute;
            cursor: help;
        }
        .bar-content-open-table-btn {
            top: 5px;
            right: 5px;
            z-index: 2;
        }
        .bar-content-close-btn {
            cursor: pointer;
        }
        .bar-content-open-bartender {
            bottom: 0px;
            right: 12px;
            width: 120px;
            z-index: 5;
        }
        .bar-content-menu {
            display: inline-block;
            position: absolute;
            z-index: 4;
            top: 0px;
            left: 0px;
            height: 0%;
            width: 100%;
            overflow: hidden;
            transition: 0.5s height ease-in;
            // background-color: rgba(70, 25, 67, 0.2);
            background-image: url('/static/imgs/bg_black_wood.jpg');
            background-size: cover;
            background-position: center;

            &.active {
                height: 100%;
            }

            .md-menu {

            }
        }

        .bar-content-people {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 0px;
            cursor: pointer;

            .bar-person-unit {
                display: inline-block;
                position: absolute;
                left: 0px;
                top: 0px;
                transition: 0.6s transform ease-out;
                height: 50px;
                width: 80px;
                margin-top: -25px;
                margin-left: -40px;
                pointer-events: none;

                .bar-person-name{
                    display: block;
                    background-color: rgba(90,60,60,0.6);
                    color: #fff;
                    white-space: nowrap;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border-radius: 3px;
                }
                .md-icon {
                    color: #fff;
                    font-size: 32px !important;
                    height: 32px;
                }
            }
        }

        .gold {
            color: #ffd90a;
            text-shadow: 1px 1px #756b6a;
        }
        .purple {
            color: #a611bf;
        }
        .blue {
            color: #005cbb;
        }
        .green {
            color: #13a202;
        }
    }

    .wanted-table {
        position: relative;
        box-sizing: border-box;
        background-color: #e7d3bb;
        border: 6px outset #604c42;
        height: 100%;
        color: #604c42;
        overflow-x: hidden;

        .md-title {
            font-size: 52px;
            line-height: 70px;
            padding: 12px;
            color: #604c42;
            font-weight: bold;
        }

        .md-table-fixed-header {
            background-color: #ffe5d4;
            box-shadow: 1px 3px 3px #9c8888; 
        }

        .md-table-content {
            background: transparent;

            .md-table-cell {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

}


#bar-tab-store {
    .helper {
        right: 5px;
        top: 5px;
    }
    .bar-store {
        position: relative;
        background-color: rgba(15,15,15,0.3);
        padding: 10px;
        min-width: 520px;
        width: calc(100% - 200px);

        .img-wrapper {
            display: inline-block;
            border: 1px gray solid;
            background-color: #000a03;
            width: 42px;
            height: 42px;
        }
        .name-wrapper {
            display: inline-block;
            height: 42px;
            line-height: 40px;
            width: calc(100% - 44px);
            background-color: rgba(24, 24, 24, 0.4);
        }

        .item {
            display: inline-block;
            width: 100%;
            padding: 5px 3px 0px;
            height: 50px;
            border-bottom: 1px solid #7f7959;
            text-align: left;
            color: #fff;
            cursor: pointer;

            &.inactive {
                cursor: not-allowed;
                .item-name { color: #5d5b5b; }
                .item-text { color: #5d5b5b; }
            }

            .item-name {
                font-size: 16px;
                padding: 2px 10px;
            }
            .item-text {
                font-size: 12px;
            }
            .item-price {
                float: right;
                color: #e6ac1d;
                padding: 2px 10px;
            }
        }
        
    }
}

#bar-tab-join {
    .helper {
        right: 5px;
        top: 5px;
    }
    padding: 0px;
    .family-join {
        height: 100%;
        position: relative;
        .helper {
            right: 5px;
            top: 5px;
        }
    }
    .house {
        position: relative;
        display: block;
        float: left;
        width: 10%;
        height: 100%;
        background-position: 0px 10px;
        background-repeat: no-repeat;
        background-size: contain;
        box-sizing: border-box;
        padding: 8px;
        padding-top: calc(5vw + 34px);
        cursor: pointer;

        &.house-stark { background-color: rgba(175, 175, 175, 0.4); background-image: url('/static/imgs/wolf.png'); }
        &.house-targaryen { background-color: rgba(17, 17, 17, 0.4); background-image: url('/static/imgs/dragon.png'); }
        &.house-lannister { background-color: rgba(255, 0, 0, 0.4); background-image: url('/static/imgs/lion.png'); }
        &.house-baratheon { background-color: rgba(255, 215, 0, 0.4); background-image: url('/static/imgs/deer.png'); }
        &.house-tyrell { background-color: rgba(0, 128, 0, 0.4); background-image: url('/static/imgs/rose.png'); }
        &.house-eyrie { background-color: rgba(37, 37, 200, 0.4); background-image: url('/static/imgs/bird.png'); }
        &.house-tully { background-color: rgba(255, 192, 200, 0.4); background-image: url('/static/imgs/fish.png'); }
        &.house-martell { background-color: rgba(255, 165, 0, 0.4); background-image: url('/static/imgs/sun.png'); }
        &.house-none { width: 20%; padding-top: 5px; }
        

        .freefork {
            position: relative;
            list-style: none;
            color: #fff;
            border-bottom: 1px solid #e2a510;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 6px 4px 4px 10px;
            height: 34px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            background-color: rgba(0,0,0,0.3);
            text-align: left;
            &:hover {
                background-color: rgba(0,0,0,0.5);
            }
            >i {
                position: absolute;
                left: 0px;
                top: 0px;
                border-radius: 50%;
                background-color: #171411;
                color: #f9bf31;
                z-index: 2;
                font-size: 12px;
                line-height: 12px;
                width: 14px;
                height: 14px;
                text-align: center;
            }
        }
        .click-join {
            
        }
    }
}