#rv-bar {
    position: relative;
    padding-left: 280px;

    .md-card-content {
        position: relative;
        padding: 10px 10px 0px;
    }

    .bar-content {
        position: relative;
        overflow: hidden;
        height: calc(100% - 160px);

        .bar-content-background {
            position: relative;
            height: 100%;
            z-index: 1;
            background-color: rgba(5,5,5,0.4);
        }

        .bar-content-table {
            display: inline-block;
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 0px;
            height: 0%;
            width: 100%;
            overflow: hidden;
            transition: 0.5s height ease-in;

            &.active {
                height: 100%;
            }
        }

        .bar-content-open-table-btn {
            position: absolute;
            top: 5px;
            right: 25px;
            cursor: pointer;
        }
        .bar-content-close-btn {
            cursor: pointer;
        }

        .bar-content-people {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 0px;
            cursor: pointer;

            .bar-person-unit {
                display: inline-block;
                position: absolute;
                left: 0px;
                top: 0px;
                transition: 0.6s transform ease-out;
                width: 50px;
                height: 50px;
                margin-top: -25px;
                margin-left: -25px;

                .bar-person-name{
                    display: block;
                    background-color: rgba(90,60,60,0.6);
                    color: #fff;
                    white-space: nowrap;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border-radius: 3px;
                }
                .md-icon {
                    color: #b18f3c;
                    font-size: 32px !important;
                    height: 32px;
                }
            }
        }

        .gold {
            color: #ffd90a;
            text-shadow: 1px 1px #756b6a;
        }
        .purple {
            color: #a611bf;
        }
        .blue {
            color: #005cbb;
        }
        .green {
            color: #13a202;
        }
    }

    .wanted-table {
        position: relative;
        box-sizing: border-box;
        background-color: #e7d3bb;
        border: 10px outset #604c42;
        // box-shadow: 1px 3px 3px #111; 
        color: #604c42;
        overflow-x: hidden;

        .md-title {
            font-size: 52px;
            line-height: 70px;
            padding: 12px;
            color: #604c42;
            font-weight: bold;
        }

        .md-table-fixed-header {
            background-color: #ffe5d4;
            box-shadow: 1px 3px 3px #9c8888; 
        }

        .md-table-content {
            background: transparent;

            .md-table-cell {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .chat-box {
        position: relative;
        height: 160px;

        .chat-history {
            height: 80%;
            background-color: #160d07;
            border: 1px solid #805b00;
            box-sizing: border-box;
            color: #fff;
            text-align: left;
            overflow-y: scroll;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column-reverse;
            }
            li {
                list-style: none;
            }
        }
        .chat-tools {
            height: 20%;
            border: 1px solid #805b00;
            position: relative;
            box-sizing: border-box;
            padding: 2px;

            .chat-tool-input {
                width: calc(100% - 100px);
            }
        }
    }

}