@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
    font-family: "Game of Thrones";
    src: url("/static/front/Game of Thrones.ttf");
}

body {
    background-color: #000;
}

.close {
    display: inline-block;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;

    &:after {
        display: block;
        content: "X";
    }
}

@for $i from 0 through 500 {
    .fz-#{$i}-px {
        font-size: #{$i}px !important;
        line-height: #{$i + 6}px !important;
    }
    .ltsc-#{$i} {
        letter-spacing: #{$i}px !important;
    }
    .w-#{$i}-pct {
        width: #{$i} + "%" !important;
    }
    .h-#{$i}-pct {
        height: #{$i} + "%" !important;
    }
    .px-#{$i}-px {
        padding-left: #{$i}px !important;
        padding-right: #{$i}px !important;
    }
    .py-#{$i}-px {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
    }
    .pl-#{$i}-px {
        padding-left: #{$i}px !important;
    }
    .pt-#{$i}-px {
        padding-top: #{$i}px !important;
    }
    .pr-#{$i}-px {
        padding-right: #{$i}px !important;
    }
    .pb-#{$i}-px {
        padding-bottom: #{$i}px !important;
    }
    .ma-#{$i}-px {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
    }
    .mx-#{$i}-px {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
    }
    .my-#{$i}-px {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
    }
    .ml-#{$i}-px {
        margin-left: #{$i}px !important;
    }
    .mt-#{$i}-px {
        margin-top: #{$i}px !important;
    }
    .mr-#{$i}-px {
        margin-right: #{$i}px !important;
    }
    .mb-#{$i}-px {
        margin-bottom: #{$i}px !important;
    }
}
