.home {
    position: relative;
    margin: 0px auto;
    // height: calc(100vh - 48px);
    overflow: auto;
}

.personal-card {
    display: inline-block;
    position: relative;
    background-color: rgba(5,5,5,0.5);
    border: 2px outset rgb(206, 206, 206);
    margin-top: 40px;
    width: 640px;

    .card-header {
        display: block;
        position: relative;
        // border-bottom: 1px solid #333;
        color: #000;
        background-color: #fffde3;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    .card-body {
        display: block;
        position: relative;
        background-color: #fff;
    }

    .card-top {
        position: relative;
        height: 288px;
        line-height: 32px;
        overflow: hidden;

        .card-top-left {
            position: relative;
            float: left;
            height: 100%;
            width: 40%;
            margin: 0px;
        }

        .card-top-right {
            position: relative;
            float: right;
            width: 60%;
            height: 100%;
            margin: 0px;
        }

        .card-code-img {
            display: inline-block;
            max-width: 100%;
            height: 100%;
        }
    }

    .card-mid {
        position: relative;
        border-top: 1px solid #9c9c9c;

        .md-table-head-container {
            text-align: center;
        }
    }

    .card-ability-chat {
        width: 520px;
        margin: 0px auto;
    }
}