@import './home';
@import './common';
@import './bar';
@import './player';
@import './family';
@import './gameeditor';


#app {
  margin: 0 auto;
  color: #ffde39;
  background-color: #171006;
  background-image: url("/static/imgs/bg_black_wood.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .md-tabs {
    .md-tabs-navigation {
      background-color: #fd8700;
      // background-image: linear-gradient(90deg,#7d7d7d,#ffff00 ,#e2e2e2);
    }
  }

  .loading-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 100%;
    overflow: hidden;
  }

  .active-man {
    display: inline-block;

    .md-icon {
      position: absolute;
      // display: none;
      font-size: 60px !important;
      line-height: 60px !important;
      height: 60px;
      width: 60px;
      color: #fff;
      animation-name: toggledisplay;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0s;

      &:first-child {
        animation-delay: 1s;
      }
    }
  }
}

.rv-value {
  display: inline-block;
  content: "R";
  color: #fff;
  background-color: orange;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;

  &::after {
    content: "R";
    display: inline-block;
  }
}


.logo {
  left: 50px;
  top: 23px;
  width: 210px;
  height: 130px;
  position: fixed;
  background-image: url("/static/imgs/logo_small.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 130px;
  opacity: 0.75;
  z-index: 10;
  img {
    width: 100%;
  }
}
.title {
  position: fixed;
  font-family: "Game of Thrones", sans-serif;
  font-size: 21px;
  color: #ac9d83;
  z-index: 10;
  top: 155px;
  left: 65px;
  .top {
    font-size: 16px;
    margin-bottom: 2px;
    span {
      font-size: 12px;
    }
  }
  .bottom {
    letter-spacing: 2px;
  }
}
.menu {
  position: fixed;
  left: 50px;
  top: 0;
  z-index: 2;
  width: 210px;
  height: 100vh;
  background-color: #0a0600ab !important;
  padding-top: 300px;
  .md-list-item-text {
    color: #b18f5b;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Philosopher", sans-serif;
    .sub {
      font-size: 15px;
      color: #aaa;
    }
  }

  .meun-wrapper {
    height: 100%;
    overflow: auto;
  }
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.maintaining {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff5e7;
  font-size: 56px;
  line-height: 100px;
  padding: 280px;
  box-sizing: border-box;
}

.admin-table {
  height: 100%;

  .md-table-content {
    height: auto !important;
    max-height: none !important;
  }
}

@keyframes toggledisplay{
  0% {opacity: 0;}
  49% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}