.player {
    background-image: url('/static/imgs/bg_room.png');
    .notouch {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .personal-card {
        display: inline-block;
        position: fixed;
        left: 400px;
        top: 0;
        width: 70vw;
        min-width: 360px;
        background-color: #1c0f008f;
        border: 1px solid #805b00;
        border-radius: 10px;
        margin-top: 40px;
        height: calc(100vh - 55px);

        .md-card-header {
            border-bottom: 1px solid#805b00;
            margin: 0 20px;
            .md-card-header-text {
                height: 120px;
                position: relative;
                .md-title {
                    color: #fff;
                    font-size: 58px;
                    line-height: 64px;
                }
                .md-subhead {
                    color: #eed8b2;
                    font-family: 'Philosopher', sans-serif;
                    text-transform: uppercase;
                    font-size: 26px;
                    margin-top: 3px;
                }
                .note {
                    position: absolute;
                    left: 0;
                    bottom: 5px;
                    font-size: 15px;
                    color: #987153;
                }
            }
            .md-card-media {
                height: 100%;
            }
        }

        .md-card-content {
            padding-top: 20px;
            line-height: normal !important;
            height: calc(100vh - 220px);
            overflow-y: auto;
        }
        .table-transparent {
            background-color: transparent;
            padding: 0px;
            .md-theme-default {
                background-color: transparent;
            }
        }
        .player-able-area {
            margin: 0px 0px;
            .able-block {
                .md-table-head {
                    font-size: 18px !important;
                    color: #b18f5b !important;
                }
                .md-table-cell {
                    font-size: 18px !important;
                    color: #ac9d83 !important;
                    .md-icon {
                        color: #ac9d83 !important;
                        vertical-align: bottom;
                    }
                }
            }
            .card-ability-chat {
                width: 500px;
                margin: 0px auto;
                background-color: #71090930;
                position: relative;
                border-radius: 20px;
                border: 1px solid #a28039;
                box-shadow: 1px 2px 2px #191818;
                padding: 20px;
            }
            .border-wraped >div{
                background-color: #520c0c;
                border-radius: 15px;
                display: inline-block;
                font-weight: bold;
                position: relative;

                .circle {
                    position: absolute;
                    cursor: pointer;
                    top: 3px;
                    display: inline-block;
                }

                .add {
                    right: -20px;
                }

                .minus {
                    left: -20px;
                }
            }
            .info-table {
                min-width: 360px;

                .point {
                    background-color: #520c0c;
                    border-radius: 50%;
                    color: #00cec4;
                    width: 26px;
                    height: 26px;
                    line-height: 24px;
                    display: inline-block;
                }
                .btn {
                    background-color: #3a190c;
                    color: #a28039;
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 2px 10px;
                }
            }

            &.p-eq-0 {
                .add { display: none !important; }
            }
        }

        .bigger-favorite, .mvp-star {
            font-size: 32px !important;
            height: 32px !important;
        }
    }
}